<% content_for :styles do %>
  <%= stylesheet_link_tag 'users' %>
<% end %>

<div class="usersAuth">
  <div class="usersAuth--inner">
    <h2 class="usersAuth--title"><%= t('.sign_in') %></h2>
    <div class="usersAuth--body">
      <%= render "users/shared/errors" %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="usersAuth--formTable">
          <tbody>
            <tr class="usersAuth--row">
              <td class="usersAuth--cell">
                <%= f.label :email %>
              </td>
              <td class="usersAuth--cell">
                <%= f.email_field :email, autofocus: true, class: 'usersAuth--input' %>
              </td>
            </tr>
            <tr class="usersAuth--row">
              <td class="usersAuth--cell">
                <%= f.label :password %>
              </td>
              <td class="usersAuth--cell">
                <%= f.password_field :password, autocomplete: "off", class: 'usersAuth--input' %>
              </td>
            </tr>
            <% if devise_mapping.rememberable? %>
              <tr class="usersAuth--row">
                <td class="usersAuth--cell"></td>
                <td class="usersAuth--cell">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="usersAuth--actions">
          <%= f.submit t('.sign_in'), class: 'usersAuth--actionButton' %>
        </div>
      <% end %>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>
