<p id="notice"><%= notice %></p>

<h1>Contests</h1>

<table>
  <thead>
    <tr>
      <th>Name ja</th>
      <th>Name en</th>
      <th>Score baseline</th>
      <th>Start at</th>
      <th>End at</th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td>
          <%= link_to contest.name_ja, [:admin, contest] %>
        </td>
        <td><%= contest.name_en %></td>
        <td><%= contest.score_baseline %></td>
        <td><%= contest.start_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        <td><%= contest.end_at.strftime('%Y/%m/%d %H:%M:%S')%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contest', new_admin_contest_path %>
