<h1><%= @contest.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Description en:</strong>
  <%= @contest.description_en %>
</p>

<p>
  <strong>Description ja:</strong>
  <%= @contest.description_ja %>
</p>

<p>
  <strong>End at:</strong>
  <%= @contest.end_at %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @contest.name_en %>
</p>

<p>
  <strong>Name ja:</strong>
  <%= @contest.name_ja %>
</p>

<p>
  <strong>Score baseline:</strong>
  <%= @contest.score_baseline %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @contest.start_at %>
</p>

<%= link_to 'Edit', edit_admin_contest_path(@contest) %> |
<%= link_to 'Back', admin_contests_path %> |
<%= link_to 'Destroy', [:admin, @contest], method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Problems</h2>

<table>
  <thead>
    <tr>
      <th>Name ja</th>
      <th>Name en</th>
      <th>Order</th>
      <th>DataSets</th>
    </tr>
  </thead>

  <tbody>
    <% @contest.problems.each do |problem| %>
      <tr>
        <td><%= link_to problem.name_ja, [:admin, problem] %></td>
        <td><%= problem.name_en %></td>
        <td><%= problem.order %></td>
        <td>
          <% problem.data_sets.each do |data_set| %>
            <div>
              <%= link_to "#{data_set.id} - #{data_set.label}", [:admin, data_set] %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'add problem', new_admin_problem_path(contest_id: @contest.id) %>
<br />
