<h1><%= @contest.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Description en:</strong>
  <%= @contest.description_en %>
</p>

<p>
  <strong>Description ja:</strong>
  <%= @contest.description_ja %>
</p>

<p>
  <strong>End at:</strong>
  <%= @contest.end_at %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @contest.name_en %>
</p>

<p>
  <strong>Name ja:</strong>
  <%= @contest.name_ja %>
</p>

<p>
  <strong>Score baseline:</strong>
  <%= @contest.score_baseline %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @contest.start_at %>
</p>

<h2>Problems</h2>

<table>
  <thead>
    <tr>
      <th>Name ja</th>
      <th>Name en</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contest.problems.order(order: :asc).each do |problem| %>
      <tr>
        <td><%= problem.name_ja %></td>
        <td><%= problem.name_en %></td>
        <td><%= problem.order %></td>
        <td><%= link_to 'Show', [:admin, problem] %></td>
        <td><%= link_to 'Edit', edit_admin_problem_path(problem) %></td>
        <td><%= link_to 'Destroy', [:admin, problem], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_admin_contest_path(@contest) %> |
<%= link_to 'Back', admin_contests_path %>
