<p id="notice"><%= notice %></p>

<p>
  <strong>Description en:</strong>
  <%= @admin_contest.description_en %>
</p>

<p>
  <strong>Description ja:</strong>
  <%= @admin_contest.description_ja %>
</p>

<p>
  <strong>End at:</strong>
  <%= @admin_contest.end_at %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @admin_contest.name_en %>
</p>

<p>
  <strong>Name ja:</strong>
  <%= @admin_contest.name_ja %>
</p>

<p>
  <strong>Score baseline:</strong>
  <%= @admin_contest.score_baseline %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @admin_contest.start_at %>
</p>

<%= link_to 'Edit', edit_admin_contest_path(@admin_contest) %> |
<%= link_to 'Back', admin_contests_path %>
