<% content_for :styles do %>
  <%= stylesheet_link_tag 'admin' %>
<% end %>
<div class="submissions">
  <div class="submissions--inner">
    <div class="submissions--header">参加者の提出履歴</div>
    <div class="submissions--body">
      <table class="submissions--table">
        <thead>
          <tr>
            <td class="submissions--createdAtHeader">提出日時</td>
            <td class="submissions--submitterHeader">提出者</td>
            <td class="submissions--problemNameHeader">問題名</td>
            <td class="submissions--dataSetLabelHeader">データセット</td>
            <td class="submissions--judgeStatusHeader">判定</td>
            <td class="submissions--scoreHeader">スコア</td>
          </tr>
        </thead>
        <% @submissions.each do |submission| %>
        <tbody>
            <tr key={ submission.id }>
              <td class="submissions--createdAt"><%= submission.created_at %></td>
              <td class="submissions--submitter"><%= submission.user.name %></td>
              <td class="submissions--problemName"><%= submission.problem.name %></td>
              <td class="submissions--dataSetLabel"><%= submission.data_set.label %></td>
              <td class="submissions--judgeStatus">
                <%= submission.judge_status %>
              </td>
              <td class="submissions--score">
                <%= submission.score %>
              </td>
            </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
