<p id="notice"><%= notice %></p>

Order: <%= @problem.order %>

<hr>

<h2><%= @problem.name_ja %></h2>
<div><%= @problem.description_ja %></div>

<hr>

<h2><%= @problem.name_en %></h2>
<div><%= @problem.description_en %></div>

<hr>

<%= link_to 'Edit', edit_admin_problem_path(@problem) %> |
<%= link_to 'Back', admin_problems_path %>
