<% content_for :styles do %>
  <%= stylesheet_link_tag 'github-markdown' %>
  <%= stylesheet_link_tag 'admin' %>
<% end %>

<div class="admin--contest">
  <p id="notice"><%= notice %></p>

  <p>Order: <%= @problem.order %></p>

  <p>
    <%= link_to 'Edit', edit_admin_problem_path(@problem) %> |
    <%= link_to 'Back', admin_contest_path(@problem.contest) %> |
    <%= link_to 'Destroy', [:admin, @problem], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

  <div class="problem">
    <div class="problem--inner">
      <h2 class="problem--header">[ja] <%= @problem.name_ja %></h2>
      <div class="problem--body">
        <div class="problem--description">
          <div class="problem--descriptionBody">
            <div id="description_ja"><%= raw(@problem.description_ja) %></div>
          </div>
        </div>
      </div>
    </div>

    <div class="problem--inner">
      <h2 class="problem--header">[en] <%= @problem.name_en %></h2>
      <div class="problem--body">
        <div class="problem--description">
          <div class="problem--descriptionBody">
            <div id="description_en"><%= raw(@problem.description_en) %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>
    <%= link_to 'Edit', edit_admin_problem_path(@problem) %> |
    <%= link_to 'Back', admin_contest_path(@problem.contest) %> |
    <%= link_to 'Destroy', [:admin, @problem], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

  <hr>

  <p>
    DataSets:
    <% @problem.data_sets.each do |data_set| %>
      <div>
        <%= link_to "#{data_set.id} - #{data_set.label} (#{data_set.score})", [:admin, data_set] %>
      </div>
    <% end %>
    <div>
      <%= link_to 'Add DataSet', new_admin_data_set_path(problem_id: @problem.id) %>
    </div>
  </p>
</div>

<% content_for :scripts do %>
  <%= render partial: 'contests/import_mathjax' %>
  <%= javascript_include_tag "build/admin.#{I18n.locale}" %>
<% end %>
