<% content_for :styles do %>
  <%= stylesheet_link_tag 'pages/users' %>
<% end %>

<div class="usersAuth">
  <div class="usersAuth--inner">
    <h2 class="usersAuth--title"><%= t('.forgot_your_password') %></h2>
    <div class="usersAuth--body">
      <%= render "users/shared/errors" %>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <table class="usersAuth--formTable">
          <tbody>
            <tr class="usersAuth--row">
              <td class="usersAuth--cell">
                <%= f.label :email %>
              </td>
              <td class="usersAuth--cell">
                <%= f.email_field :email, autofocus: true, class: 'usersAuth--input' %>
              </td>
            </div>
          </tbody>
        </table>
        <div class="usersAuth--actions">
          <%= f.submit t('.send_me_reset_password_instructions'), class: 'usersAuth--actionButton' %>
        </div>
      <% end %>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>
