<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layouts.brand') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.1/katex.min.css" />
    <%= yield :styles %>
  </head>

  <body>
    <div class="globalWrapper">
      <%= render partial: 'layouts/header', locals: { header_style: @header_style } %>
      <div class="globalContents">
        <%= render partial: 'layouts/flash' %>
        <%= yield %>
      </div>
      <%= render partial: 'layouts/footer' %>
    </div>

    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.1/katex.min.js"></script>
    <%= yield :scripts %>
  </body>
</html>
