<!DOCTYPE html>
<html>
  <head>
    <title>WPCS2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :styles %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
  </body>
</html>
